<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>何小伟首页</title>
  <link rel="stylesheet" href="../src/css/css.css">
</head>

<body>
  <div class="background"></div>
  <div class="messageFill">
    <!--个人信息填写 开始-->
    <div class="msgFill clearfix">
      <h1 class="ttl_resume"></h1>
      <div class="msgFill_l">
        <div class="fillGroup">
          <label class="fill_label">外号 : </label><input class="fill_input" id="1" type="text">
        </div>
        <div class="fillGroup">
          <label class="fill_label">生日 : </label><input class="fill_input" id="2" type="text">
        </div>
        <div class="fillGroup">
          <label class="fill_label">生肖 : </label><input class="fill_input" id="3" type="text">
        </div>
        <div class="fillGroup">
          <label class="fill_label">星座 : </label><input class="fill_input" type="text">
        </div>
        <div class="fillGroup margin_b">
          <label class="fill_label">愿望 : </label><input class="fill_input" type="text">
        </div>
        <div class="fillGroup">
          <label class="fill_label">最喜欢的人物 : </label><input class="fill_input" type="text">
        </div>
        <div class="fillGroup">
          <label class="fill_label">最喜欢的颜色 : </label><input class="fill_input" type="text">
        </div>
        <div class="fillGroup">
          <label class="fill_label">最喜欢的歌手 : </label><input class="fill_input" type="text">
        </div>
        <div class="fillGroup margin_b">
          <label class="fill_label">最喜欢的运动 : </label><input class="fill_input" type="text">
        </div>
        <div class="fillGroup">
          <label class="fill_label">地址 : </label><input class="fill_input" type="text">
        </div>
      </div>
      <div class="msgFill_r">
        <div class="headUpload">
          <div class="formUploadImg">
            <div class="formUploadImg_preview" id="filePicker">
              <!--<img ng-src="{{${attrs.vm}.data.${attrs.name} ? dhw.imgurl + ${attrs.vm}.data.${attrs.name} + '_${attrs.size}' + '.jpg' : '//cdn.dreamhiway.com/static/dimg/updefaultlogo.png'}}" ng-if="!${attrs.isrepeatitem}">-->
              <p class="add">+</p>
              <span>上传头像</span>
            </div>
            <span class="formUploadImg_result"></span>
          </div>
        </div>
        <div class="fillGroup radiu">
          <input class="radius_input" type="text">
          <span class="input_value">姓名</span>
        </div>
        <div class="fillGroup radiu">
          <input class="radius_input" type="text">
          <span class="input_value">手机号码</span>
        </div>
        <div class="fillGroup radiu">
          <input class="radius_input" type="text">
          <span class="input_value">邮箱</span>
        </div>
        <div class="fillGroup radiu">
          <input class="radius_input" type="text">
          <span class="input_value">个人主页</span>
        </div>
        <div class="fillGroup margin_top">
          <input class="radius_input radius_input_long" type="text">
          <span class="input_value">印象标签</span>
        </div>
      </div>
    </div>
    <!--个人信息填写 结束-->
    <!--上传相册 开始-->
    <div class="imgUpload">
      <h1 class="memory_ttl"></h1>
      <div class="imgUpload_content">
        <h1 class="together_ttl"></h1>
        <div class="imgUpload_album">
          <ul class="clearfix">
            <li class="album_item">
              <div class="formUploadImg album_item_upload">
                <div class="mottoFill_l_img" id="filePicker">
                  <!--<img ng-src="{{${attrs.vm}.data.${attrs.name} ? dhw.imgurl + ${attrs.vm}.data.${attrs.name} + '_${attrs.size}' + '.jpg' : '//cdn.dreamhiway.com/static/dimg/updefaultlogo.png'}}" ng-if="!${attrs.isrepeatitem}">-->
                  <p class="album_add"></p>
                </div>
                <span class="formUploadImg_result"></span>
              </div>
              <input class="album_remarks" type="text" placeholder="备注">
            </li>
            <li class="imgUpload_addMore"><i></i></li>
          </ul>
        </div>
        <p class="hasLoaded">已上传 : <span>5</span>张</p>
      </div>
    </div>
    <!--上传相册 结束-->
    <!--赠言填写 开始-->
    <div class="mottoFill clearfix">
      <h1 class="mottoFill_ttl"></h1>
      <div class="mottoFill_l">
        <div class="formUploadImg mottoFill_l_upload">
          <div class="mottoFill_l_img" id="filePicker">
            <!--<img ng-src="{{${attrs.vm}.data.${attrs.name} ? dhw.imgurl + ${attrs.vm}.data.${attrs.name} + '_${attrs.size}' + '.jpg' : '//cdn.dreamhiway.com/static/dimg/updefaultlogo.png'}}" ng-if="!${attrs.isrepeatitem}">-->
            <p class="mottoFill_add"></p>
            <span class="mottoFill_word">再上传一个美美的pose照</span>
          </div>
          <span class="formUploadImg_result"></span>
        </div>
      </div>
      <div class="mottoFill_r">
        <textarea class="mottoTxt"></textarea>
        <p class="surplus_word">还可以输入<span>300</span>个字</p>
      </div>
    </div>
    <!--赠言填写 结束-->
    <div class="fillBtn">
      <button class="save_btn">保存</button>
    </div>
  </div>

  <script src="../src/js/jquery-1.11.3.min.js"></script>
  <script src="../src/js/webuploader.nolog.min.js"></script>
  <script src="../src/js/jquery.mousewheel.js"></script>
  <script src="../src/js/perfect-scrollbar.js"></script>
  <script src="/js/fill.js"></script>
</body>

</html>