.adminBg {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/adminBg.png);
  background-size: cover;
}
.admin_content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1330px;
  height: 630px;
  margin-top: -315px;
  margin-left: -665px;
}
.admin_content_l {
  float: left;
  width: 180px;
  height: 100%;
  border-radius: 25px 0 0 25px;
  margin-right: 10px;
  background-color: #313a59;
  text-align: center;
}
.admin_content_c {
  float: left;
  width: 945px;
  margin-right: 10px;
}
.admin_content_r {
  float: left;
  width: 180px;
}
.admin_logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom: 15px;
}
.admin_name {
  font-size: 12px;
  color: #fff;
}
.createNew {
  display: inline-block;
  width: 175px;
  height: 35px;
  margin-top: 35px;
  margin-bottom: 20px;
  line-height: 35px;
  color: #fff;
  font-size: 18px;
  background-color: #525572;
  text-decoration: none;
}
.admin_ttl {
  height: 280px;
  border-left: 5px solid #821e35;
  background-color: #272e46;
  color: #fff;
}
.admin_ttl h3 {
  display: inline-block;
  margin-top: 70px;
  font-weight: 100;
  font-size: 60px;
}
.admin_ttl h4 {
  font-weight: 100;
  font-size: 18px;
}
.admin_link {
  width: 100%;
  height: 40px;
  margin-top: 0;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}
.admin_link a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  vertical-align: top;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}
.admin_link i {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin: 0 10px 5px 20px;
  background: url(../img/adminIcon.png) no-repeat 0 -70px;
}
.admin_content_route {
  width: 100%;
  height: 580px;
  background-color: rgba(255, 255, 255, 0.2);
}
.admin_content_r_t {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 0 25px 0 0;
  background-color: rgba(255, 255, 255, 0.4);
}
.admin_content_r_b {
  width: 100%;
  height: 420px;
  border-radius: 0 0 25px 0;
  background-color: rgba(255, 255, 255, 0.4);
}
/*admin-index*/
.ai_ttl {
  height: 35px;
  padding-left: 10px;
  line-height: 35px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.4);
}
.ai_ttl span {
  color: #000;
  margin-right: 5px;
}
.ai_cont_ul {
  width: 640px;
  margin: 130px auto 0;
}
.ai_cont_item {
  position: relative;
  float: left;
  width: 120px;
  margin-right: 140px;
  text-align: center;
  font-size: 40px;
  color: #fff;
  font-weight: 100;
  color: #2779c3;
}
.ai_cont_item a {
  display: inline-block;
  margin-bottom: 30px;
  font-weight: 100;
  color: #fff;
  font-family: '雅黑';
  text-decoration: none;
}
.ai_cont_item i {
  position: absolute;
  left: 3px;
  bottom: -15px;
  width: 114px;
  height: 57px;
  background: url(../img/admin_cir.png) no-repeat;
}
.ai_cont_item-last {
  margin: 0;
}
/*Create New*/
.ac_cont {
  padding-top: 30px;
  margin-left: 50px;
}
.ac_cont_item {
  color: #ece4ea;
  margin-bottom: 40px;
}
.ac_cont_item label {
  margin-left: 30px;
  margin-right: 10px;
}
.ac_cont_add {
  display: inline-block;
  width: 170px;
  height: 35px;
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  line-height: 35px;
  text-decoration: none;
  color: #fff;
}
.ac_cont_input {
  width: 315px;
  height: 35px;
  padding-left: 20px;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.4);
}
.ac_cont_input::-webkit-input-placeholder {
  color: #fff;
}
.ac_cont_send {
  width: 60px;
  height: 30px;
  border: 0;
  border-radius: 3px;
  margin-left: 35px;
  background-color: #fff;
  color: #8f8495;
}
.ac_cont_success {
  display: inline-block;
  height: 19px;
  padding-left: 35px;
  margin-left: 15px;
  color: #ece4ea;
  background: url(../img/success.png) no-repeat;
}
/*pool*/
.ap_ttl {
  padding-top: 10px;
  margin: 0 0 20px 20px;
  color: #333;
  font-size: 14px;
}
.ap_ul {
  height: 500px;
  padding-left: 50px;
  overflow: hidden;
}
.ap_cont_item {
  position: relative;
  height: 30px;
  margin-top: 45px;
  transition: height .5s linear;
}
.ap_cont_item_detail {
  position: absolute;
  height: 0;
  overflow: hidden;
  transition: height .5s linear;
}
.ap_cont_item_detail_l {
  float: left;
  width: 670px;
  height: 110px;
  border: 3px solid #fff;
  border-radius: 20px;
}
.ap_cont_item_detail_l_r {
  float: right;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-right: 35px;
  margin-top: 15px;
}
.transverseLine,
.cekckDetail,
.itemDelete {
  float: left;
}
.transverseLine {
  width: 45px;
  height: 3px;
  margin-top: 58px;
  background-color: #fff;
}
.cekckDetail {
  width: 45px;
  height: 45px;
  margin-top: 36px;
  background: url(../img/adminIcon.png) no-repeat;
  cursor: pointer;
}
.itemDelete {
  width: 25px;
  height: 25px;
  margin-top: 46px;
  background: url(../img/adminIcon.png) no-repeat 0 -45px;
  cursor: pointer;
}
.ap_cont_item_detail_l_l {
  float: right;
  margin-top: 10px;
  margin-right: 80px;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
}
.verticalLine {
  position: absolute;
  top: -45px;
  left: 35px;
  width: 3px;
  height: 45px;
  background-color: #fff;
}
.ap_cont_item-first {
  margin-top: 0;
}
.ap_cont_item-first .verticalLine {
  width: 0;
}
.whiteCir {
  position: absolute;
  left: 21px;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  transform: scale(1);
  cursor: pointer;
  transition: all 0.5s;
}
.ap_name {
  position: absolute;
  top: 4px;
  left: 70px;
  font-size: 18px;
  color: #fff;
  transition: all 0.5s;
}
.current .ap_name {
  top: 40px;
  left: 50px;
  color: #000;
  font-size: 24px;
}
.current .whiteCir {
  transform: scale(0);
}
.ap_cont_item.current {
  height: 116px;
}
.current .ap_cont_item_detail {
  height: 116px;
}

/*toDeal*/
.at_cont {
  padding-top: 50px;
  color: #fff;
}
table {
  width: 870px;
  margin: 0 auto;
}
.admin_thead {
  line-height: 40px;
  border-bottom: 2px solid #fff;
  font-size: 16px;
}
.admin_tbody {
  text-align: center;
  line-height: 35px;
  font-size: 12px;
}
.admin_preview,
.admin_conf,
.admin_invite {
  cursor: pointer;
}