.background {
  width: 100%;
  height: 115%;
  background: url(../img/Msgbg.png) no-repeat;
  background-size: cover;
}
.messageFill {
  width: 100%;
  background-color: #804737;
}
.msgFill {
  width: 950px;
  margin: 0 auto;
}
.ttl_resume {
  height: 35px;
  background: url(../img/text.png) no-repeat 0 -45px;
}
.msgFill_l {
  float: left;
  margin-top: 40px;
}
.msgFill_r {
  float: right;
}
.fillGroup {
  position: relative;
  margin-bottom: 5px;
}
.fill_label {
  display: inline-block;
  width: 115px;
  height: 30px;
  margin-right: 5px;
  color: #fff;
  text-align: right;
  line-height: 30px;
}
.fill_input {
  width: 285px;
  height: 28px;
  padding-left: 10px;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  background-color: rgba(204, 204, 204, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33cccccc',endColorstr='#33cccccc');
}
.margin_b {
  margin-bottom: 40px;
}
.headUpload {
  height: 190px;
  color: #fff;
  text-align: center;
}
.formUploadImg_preview {
  width: 140px;
  height: 140px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 auto;
  cursor: pointer;
  background-color: rgba(204, 204, 204, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33cccccc',endColorstr='#33cccccc');
}
.add {
  font-size: 80px;
  font-weight: 100;
}
.headUpload img {
  width: 140px;
  height: 140px;
}
.radius_input {
  display: inherit;
  width: 300px;
  height: 30px;
  padding-left: 20px;
  border: 2px solid #fff;
  border-radius: 25px;
  margin: 0 auto;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
}
.input_value {
  position: absolute;
  top: 9px;
  left: 50px;
  padding: 0 5px;
  color: #fff;
  font-size: 12px;
  background-color: #804737;
}
.margin_top {
  margin-top: 60px;
}
.radius_input_long {
  width: 360px;
}
.margin_top span {
  left: 20px;
}
.radiu {
  margin-bottom: 10px;
}
.webuploader-element-invisible {
  display: none;
}
/*赠言 开始*/
.mottoFill_l {
  float: left;
  width: 310px;
}
.mottoFill_r {
  float: right;
}
.mottoFill {
  width: 980px;
  margin: 30px auto 50px;
}
.mottoFill_ttl {
  height: 35px;
  margin: 30px 0;
  background: url(../img/text.png) no-repeat;
}
.mottoFill_l_upload {
  width: 308px;
  height: 450px;
  border: 2px solid #cda3a6;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.mottoFill_l_img {
  color: #fff;
  text-align: center;
}
.mottoFill_add {
  width: 69px;
  height: 71px;
  margin: 150px auto 40px;
  background: url(../img/add.png) no-repeat;
  opacity: 0.8;
}
.fillBtn {
  width: 980px;
  height: 50px;
  margin: 0 auto 30px;
  text-align: center;
}
.mottoFill_word {
  display: inline-block;
  width: 100px;
  opacity: 0.6;
  font-size: 14px;
  line-height: 25px;
}
.mottoFill_r {
  position: relative;
  width: 650px;
  color: #333;
}
.mottoTxt {
  width: 620px;
  height: 320px;
  padding-top: 20px;
  padding-left: 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  margin-top: 60px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.4);
}
.mottoTxt:focus {
  outline: 0;
}
.surplus_word {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.save_btn {
  width: 90px;
  height: 35px;
  border: 0;
  border-radius: 5px;
  background-color: #fff;
  color: #804737;
  font-size: 18px;
  font-weight: 600; 
}
.save_btn:disabled {
  background-color: #b48c8d;
}
/*相册上传*/
.imgUpload {
  width: 870px;
  padding: 0 60px;
  margin: 0 auto;
}
.memory_ttl {
  height: 35px;
  margin-left: -60px;
  background: url(../img/text.png) no-repeat 0 -83px;
}
.imgUpload_content {
  position: relative;
  width: 820px;
  height: 350px;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.4);
}
.hasLoaded {
  position: absolute;
  bottom: 10px;
  right: 30px;
}
.album_item {
  float: left;
  width: 120px;
  height: 230px;
  padding: 5px;
  border-radius: 5px;
  margin-right: 40px;
  background-color: #fff;
  text-align: center;
}
.together_ttl {
  height: 19px;
  margin-top: 0;
  margin-bottom: 35px;
  background: url(../img/together.png) no-repeat;
}
.album_item_upload {
  padding-bottom: 5px;
  border-bottom: 2px solid #af7f7c;
  cursor: pointer;
}
.album_add {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 60px 0;
  background: url(../img/album_add.png) no-repeat;
}
.album_remarks {
  width: 115px;
  border: 0;
  margin-top: 20px;
  background-color: #fff;
  text-align: center;
  color: #333;
}
.album_remarks::-webkit-input-placeholder {
  color: #ccc;
}
.imgUpload_addMore {
  float: left;
  width: 130px;
  height: 238px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.imgUpload_addMore i {
  display: inline-block;
  width: 69px;
  height: 71px;
  margin-left: 30px;
  margin-top: 85px;
  background: url(../img/add.png) no-repeat;
}
.imgUpload_album {
  position: relative;
  width: 820px;
  height: 245px;
  padding-bottom: 10px;
  overflow: hidden;
}
.imgUpload_album ul {
  width: 9999px;
}
.imgUpload_album .ps-scrollbar-y-rail {
  display: none !important;
}
.imgUpload_album .ps-scrollbar-x-rail {
  height: 2px !important;
}
.imgUpload_album .ps-scrollbar-x {
  top: -1px;
  height: 4px !important;
}